nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
ul {
  display: flex;
  flex: 1;
  gap: 20px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
li:first-child {
  margin-right: auto;
}
